@font-face {
  font-family: 'Metric';
  font-weight: 100;
  font-style: normal;
  src: url("./Metric/Metric-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Metric';
  font-weight: 300;
  font-style: normal;
  src: url("./Metric/Metric-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Metric';
  font-weight: 300;
  font-style: italic;
  src: url("./Metric/Metric-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: 'Metric';
  font-weight: 400;
  font-style: normal;
  src: url("./Metric/Metric-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Metric';
  font-weight: 500;
  font-style: normal;
  src: url("./Metric/Metric-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Metric';
  font-weight: 600;
  font-style: normal;
  src: url("./Metric/Metric-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Metric';
  font-weight: 800;
  font-style: normal;
  src: url("./Metric/Metric-Black.otf") format("opentype");
}



body {
  margin: 0;
  font-family: "Metric", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #151515;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
